
@main("PlayFair Coder") {

<textarea id="textin" cols="100" rows="20" spellcheck="false" placeholder="Enter the text"></textarea>

<br>
<input type="text" id="key" placeholder="Enter the key">

<input type="button" value="ENCODE" id="encode">
<input type="button" value="DECODE" id="decode">

<br><br>
<div id="display" class="display"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="@routes.Assets.versioned("javascripts/coder.js")" type="text/javascript"></script>


}